<html>
  {% load staticfiles %}
    <head>
        <title>MedTech</title>
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.3.min.js" ></script>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript">
          var ar = [];
          function FindPosition(oElement)
          {
            if(typeof( oElement.offsetParent ) != "undefined")
            {
              for(var posX = 0, posY = 0; oElement; oElement = oElement.offsetParent)
              {
                posX += oElement.offsetLeft;
                posY += oElement.offsetTop;
              }
                return [ posX, posY ];
              }
              else
              {
                return [ oElement.x, oElement.y ];
              }
          }
          function GetCoordinatesFront(e)
          {
            var PosX = 0;
            var PosY = 0;
            var ImgPos;
            ImgPos = FindPosition(body_front);
            if (!e) var e = window.event;
            if (e.pageX || e.pageY)
            {
              PosX = e.pageX;
              PosY = e.pageY;
            }
            else if (e.clientX || e.clientY)
              {
                PosX = e.clientX + document.body.scrollLeft
                  + document.documentElement.scrollLeft;
                PosY = e.clientY + document.body.scrollTop
                  + document.documentElement.scrollTop;
              }
            PosX = PosX - ImgPos[0];
            PosY = PosY - ImgPos[1];
          
            if((PosX>=184 && PosX<=194 && PosY>=50 && PosY<=53) || (PosX>=203 && PosX<=214 && PosY>=50 && PosY<=53)){
              ar.push("eyes")
              document.getElementById("chat-message").value =ar;

              // console.log("eyes");
            }
            else if(PosX>=174 && PosX<=222 && PosY>=26 && PosY<=44){
              ar.push("head");
              document.getElementById("chat-message").value =ar;

              console.log("head")
            }
            else if(PosX>=196 && PosX<=204 && PosY>=53 && PosY<=62){
              ar.push("nose");
              document.getElementById("chat-message").value =ar;


              console.log("nose")
            }
            else if(PosX>=155 && PosX<=241 && PosY>=163 && PosY<=225){
              ar.push("stomach");
              document.getElementById("chat-message").value =ar;


              console.log("stomach")
            }
            else if(PosX>=150 && PosX<=246 && PosY>=112 && PosY<=158){
              ar.push("chest");
              document.getElementById("chat-message").value =ar;


              console.log("chest")
            }
            else if((PosX>=158 && PosX<=191 && PosY>=361 && PosY<=399) || (PosX>=205 && PosX<=236 && PosY>=365 && PosY<=397)){
              ar.push("knees");
              document.getElementById("chat-message").value =ar;
              
              
              console.log("knees");
            }
            else if(PosX>=143 && PosX<=247 && PosY>=287 && PosY<=526){
              ar.push("legs");
              document.getElementById("chat-message").value =ar;

              console.log("legs")
            }
            else if((PosX>=27 && PosX<=72 && PosY>=242 && PosY<=284) || (PosX>=324 && PosX<=378 && PosY>=241 && PosY<=279)){
              ar.push("hands");
              
              document.getElementById("chat-message").value =ar;
              
              console.log("hands");
            }
            else if((PosX>=61 && PosX<=142 && PosY>=107 && PosY<=249) || (PosX>=248 && PosX<=346 && PosY>=108 && PosY<=232)){
              ar.push("arms");
              
              document.getElementById("chat-message").value = ar;
              
              console.log("arms")
            }  
            else if(PosX>=184 && PosX<=218 && PosY>=82 && PosY<=102){
              ar.push("neck");
              
              document.getElementById("chat-message").value = ar;
              console.log("neck")
            }
            else if(PosX>=156 && PosX<=248 && PosY>=240 && PosY<=278){
              ar.push("reproductive");
              
              document.getElementById("chat-message").value = ar;
              console.log("reproductive")
            }
            else if(PosX>=277 && PosX<=392 && PosY>=334 && PosY<=596){
              ar.push("other");
              
              document.getElementById("chat-message").value = ar;
              console.log('other')
            }
          
            
          }
          function GetCoordinatesBack(e)
          {
            var PosX = 0;
            var PosY = 0;
            var ImgPos;
            ImgPos = FindPosition(body_front);
            if (!e) var e = window.event;
            if (e.pageX || e.pageY)
            {
              PosX = e.pageX;
              PosY = e.pageY;
            }
            else if (e.clientX || e.clientY)
              {
                PosX = e.clientX + document.body.scrollLeft
                  + document.documentElement.scrollLeft;
                PosY = e.clientY + document.body.scrollTop
                  + document.documentElement.scrollTop;
              }
            PosX = PosX - ImgPos[0];
            PosY = PosY - ImgPos[1];
            if(PosX>=554 && PosX<=654 && PosY>=96 && PosY<=222){
              // console.log("back")
              ar.push("arms");
              document.getElementById("chat-message").value =ar;
            }
          }
          </script>
      </head>
    <body>
        <!-- <div id="feelings">
          <div id="chat_history">Allright then tell how are you feeling? Please mention your general body feeling.</div>
          I am Feeling <input type="text" id="chat-message" value="" name="chat_message"><br>
          <button type="button" onclick="send_message()">SUBMIT</button>
        </div> -->

        <div id="body_parts">
          <div id="">Hello Human! Do You have any pain or inconvenience in any body part?</div>
          <button id="body_yes" type="button" onclick="yesSelectBody()">Yes</button>
          <button id="body_no" type="button" onclick="noSelectBody()">No</button>
          <img id="body_front" alt="" src="{% static 'img/body_front.jpg' %}" width="400" height="600" />
          <img id="body_back" alt="" src="{% static 'img/body_back.jpg' %}" width="400" height="600" />
          
          <div id="chat_history_body"></div>
        </div>
        <b id="body_part_display"> </b>
        <input style="width:100%" type="text" id="chat-message" value="" name="chat_message"><br>
        <button type="button" onclick="send_message()">SUBMIT</button>
        <!-- <b id="back_body_part"> </b> -->

        <script type="text/javascript">
        var body_front = document.getElementById("body_front");
        var body_back = document.getElementById("body_back");
        
        body_front.onmousedown = GetCoordinatesFront;
        body_back.onmousedown = GetCoordinatesBack;
        </script>
        
        
    </body>
    <script>
        window.onload = function() {
          var link = document.getElementById('feelings');
          link.style.display = 'none';
        };

        var p1 = document.getElementById("chat-message");
        p1.addEventListener("keydown", function (e) {
            if (e.keyCode === 13) {
                send_message();
            }
        });
        
        function yesSelectBody(){
          console.log("yes")
          var chat_history = $('#chat_history_body').html();
          chat_history += "<span style='color:green'>Yes</span>" + '<br>';
          chat_history += "Select Body Parts From the image given - "
          $('#chat_history_body').html(chat_history);
          $("#body_yes").prop("disabled",true);
          $("#body_no").prop("disabled",true);
          
        }

        function noSelectBody(){
          var link = document.getElementById('feelings');
          link.style.display = '';
          document.getElementById('body_parts').style.display = 'none';
        }
        var count = 0;
        function send_message()
        {
          count += 1
            var message = $('#chat-message').val();
            console.log(message);
            $.ajax({
                url: "{% url 'MedTechUser:send-message' %}",
                type: "POST",
                dataType: 'json',
                data: { 'message': message, "count":count, "csrfmiddlewaretoken": '{{ csrf_token }}' },
                success: data => {
                  console.log("data is", data)
                    var chat_history = $('#chat_history_body').html();

                    chat_history += message + '<br>';
                    chat_history += data.reply + '<br>';

                    $('#chat_history_body').html(chat_history);

                    $('#chat-message').val(' ');
                },
                error: data => {
                    alert(data.responseJSON.error);
                }
            });
        }
    </script>
    
</html>
